body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: "Times New Roman", Georgia, Serif;
    /*font-family: Verdana, Geneva, sans-serif;*/
}

#home {
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height:100vh;
    background-color: #cccccc;
}

#content {
    height: 1000px;
    background: white;
}

#logo {
    position: relative;
    margin-top: 3%;
/*    margin-left: 47%;*/
    /*width: 45%;*/
    /*for Rilla only*/
    width: 80%;
}

.topMenu {
    margin-left: 1%;
    margin-right: 1%;
    padding: 0;
    cursor: pointer;
    font-size: x-large;
}

.topMenuBar {
    display: block;
    padding-right: 20px;
    padding-top: 20px;
}

.topMenuBar2 {
    display: none;
}

@media screen and (max-width: 657px) {
    .topMenuBar {
        display: none;
    }

    .topMenuBar2 {
        display: block;
        position: absolute;
        bottom: 2%;
        right: 2%;
        width: 98%;
    }

    .topMenu {
        font-size: xx-large;
    }


    #logo {
        /*margin-top: 5%;
        margin-left: 30%;
        width: 60%;*/
        /*commented out above and added below for Rilla only*/
        margin-top: 10%;
        width: 98%;
    }

    .spacing {
        padding: 30% 10% 30% 10%;
    }
}

    .topMenu2 {
        margin-left: 2%;
        margin-right: 2%;

}

.question {
    padding-top: 60px;
}

.submenu {
    margin-right: 2%;
    color: black;
}

.submenu:hover {
    color: black;
}

.bottom-menu {
    display: none;
    /* flex-direction: row;
     align-items: center;
     flex-wrap: wrap;*/
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: black;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: -0px 5px 10px #888888;"
}

.back-to-top:hover {
    background-color: black;
    color: black;
}

.back-to-top:visited {
    color: black;
}

.spacing {
    padding: 10% 10% 10% 10%;
}

.white {
    background: white;
}

.gray {
    background: #e9e6e2;
}

.pointer {
    cursor: pointer;
}

.image {
    width: 100%;
}

.piclinkspacing {
    padding-bottom: 10px;
}

.hamburger {
    height: 10px;
    width: 50px;
    background-color: white;
    border-radius: 20px;
    margin: 5px;
    z-index: 10000;
    opacity: .7;
}

.underline {
    border-bottom: 1px solid white;
}

.fpLink {
    position: absolute;
    bottom: 2%;
    left: 20px;
    width: 50px;
}

.sstcLink {
    position: absolute;
    bottom: 2%;
    left: 75px;
    width: 75px;
}